.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-animals--bull {
	font-size:(125.4/10)*1rem;
	width:(125.4/125.4)*1em;
}
.icon-animals--chick {
	font-size:(115.57/10)*1rem;
	width:(115.57/115.57)*1em;
}
.icon-animals--crab {
	font-size:(136.39/10)*1rem;
	width:(136.39/136.39)*1em;
}
.icon-animals--fox {
	font-size:(121.1/10)*1rem;
	width:(121.1/121.1)*1em;
}
.icon-animals--hedgehog {
	font-size:(121.57/10)*1rem;
	width:(121.57/121.57)*1em;
}
.icon-animals--hippopotamus {
	font-size:(115.28/10)*1rem;
	width:(115.28/115.28)*1em;
}
.icon-animals--koala {
	font-size:(121.02/10)*1rem;
	width:(121.02/121.02)*1em;
}
.icon-animals--lemur {
	font-size:(114.36/10)*1rem;
	width:(114.36/114.36)*1em;
}
.icon-animals--pig {
	font-size:(110.93/10)*1rem;
	width:(110.93/110.93)*1em;
}
.icon-animals--tiger {
	font-size:(116.67/10)*1rem;
	width:(116.67/116.67)*1em;
}
.icon-animals--whale {
	font-size:(136.45/10)*1rem;
	width:(136.45/136.45)*1em;
}
.icon-animals--zebra {
	font-size:(120.3/10)*1rem;
	width:(120.3/120.3)*1em;
}
.icon-kitchen--blender {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-kitchen--cleaver {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-kitchen--grater {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-kitchen--jar {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-kitchen--kettle {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-kitchen--microwave {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
